.snake{
	width:100%;
	height:100%;
	position:absolute;
}

.snake-body,.snake-food{
	display:inline-block;
	width:19px;
	height:19px;
	box-sizing: border-box;
	margin:0px 1px 1px 0px;
	position:absolute;
	border-radius:50%;
}

.snake-body{
	background-color:#5A5EB9;
}

.snake-food{
	background-color: #DE2FA7;
}

.keyboard{
  width: 580px;
  height: 330px;
  margin: 20px auto 0;
  position:absolute;
}
.keyboard-button{
	text-align: center;
	color: red;
	position: absolute;
	white-space: nowrap;
	line-height: 1.6;
 	width: 52px;
  height: 52px;
	border-radius:50%;
	box-shadow: 0 5px 10px rgba(255, 255, 255, .8) inset;
	background-color: blue
}
